/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Nov 4, 2013, 6:38:38 PM
    Author     : rogera
*/

div {
    background-color: #eaefc2;
    color: navy;
    font-family: monospace;
}

.ta-right {
    text-align: right;

}