---
layout: default
title: wolfhesse.github.io
date: 2013-11-03
author: rogeraaut
tags: index
categories: index
---

<div id="home">
    <h3>posts</h3>
    <ul class="posts">
        {% for post in site.posts %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>

    <h3>demo3</h3>
    <p>
        <a href="dist/">open in full page</a>
    </p>
    <iframe height="400" width="98%" src="dist/" frameborder="NO"></iframe>
    <h3>pages</h3>
    <ol class="pages">
        {% for page in site.pages %}
        <li><span>{{ page.title }} </span> &raquo; <a href="{{ page.url }}">{{ page.title }}
            <small>
                <small>&nbsp;
                    {{ page.url }}
                </small>
            </small>
        </a>
            <div class="categories">
                <h5>{{ page.categories }} </h5>
            </div>
        </li>
        {% endfor %}
    </ol>

    <div id="categories">
        <div><h4>categories</h4></div>
        <div>
            {% for category in site.categories %}
            &nbsp;<a href="/{{ category | first | slugize }}">{{ category | first }}</a>
            {% endfor %}
            </ul>
        </div>
    </div>

    <div id="tags">
        <div><h4>tags</h4></div>
        <div>
            <ul>
                {% for tag in site.tags %}
                <li><a href="/{{ tag | first | slugize }}">{{ tag | first }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
