<div class='r2kd805'>

<pre>
	links in md-format

group: paper.li
[#repression](http://paper.li/tag/repression)
[#liquidnews](http://paper.li/tag/liquidnews)
[tweets from members of twitter-list rogeraaut/u](http://paper.li/rogeraaut/u)
[#router](http://paper.li/tag/router)

is there a paperli REST / or doc- API? 
	json - no
	xml - no

no, no API planned, but RSS support: 

Paper RSS feed
We've added an RSS feed option for all Pro papers. You can keep the feed private, or activate it for you readers via the Add-ons tab in your dashboard. The standard RSS icon will appear at the top of your paper next to the archives. [here](http://support.paper.li/entries/23951411-New-White-label-custom-CSS-collaboration-RSS)


---
made with vi *(today)
</div>
